snippet log
console.log($1);$0
endsnippet

snippet ii
import Icon from 'cultureamp-style-guide/components/Icon/Icon';$0
endsnippet

snippet iif
import $1 from 'cultureamp-style-guide/icons/$2.svg';$0
endsnippet

snippet cai
<Icon icon={$1} role="img" title="$2" />$0
endsnippet

snippet cap
<Icon icon={$1} role="presentation" />$0
endsnippet

snippet span
<span className={$1}>$0</span>
endsnippet

snippet div
<div className={$1}>$0</div>
endsnippet
